


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --background: #FFF7E8;   /* Light Ivory */
  --text: #4B352A;         /* Rich Brown */
  --primary: #CA7842;      /* Terracotta */
  --purple: #4B1C51;       /* Optional: hero gradient */
}